{% extends 'base.html' %}
{% load static %}

{% block title %} Contact - {{setting.name}} {{setting.surname}}{% endblock %}

{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Contact Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->

  <!-- ================ contact section start ================= -->
  <section class="contact-section section_padding">
    <div class="container">
      
       <!---------------Message ----------->
				<!---------------Message ----------->
				{% if messages %}
				{% for message in messages %}
			<div class="alert alert-success alert-dismissible " role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span></button>
					{{ message }}
			</div>
				{% endfor %}		
			{% endif %}

      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Get in Touch</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact contact_form" action="" method="POST">
            {% csrf_token %}
            <div class="row">
              
              <div class="col-sm-6">
                <div class="form-group">
                  {{form.name}}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  {{form.email}}
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  {{form.subject}}
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  {{form.message}}
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="button button-contactForm btn_4 boxed-btn">Send Message</button>
            </div>
          </form>
        </div>
        <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>Country/City</h3>
              <p>{{setting.country}}/{{setting.city}}</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>Phone number</h3>
              <p>+994{{setting.phone}}</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>Email</h3>
              <p>{{setting.email}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-none d-sm-block mb-5 pb-4">
        <div id="map"></div>
        <iframe src="{{setting.location}}" width="100%" height="450"></iframe>
        
      </div>
    </div>
  </section>
{% endblock %}

{% block footer_content %}
{% include 'footer.html' with setting=setting %}
{% endblock %}