{% extends 'base.html' %}
{% load static %}

{% block title %} {{setting.name}} {{setting.surname}} {% endblock %} 
  

{% block style_content %}
<style>
.slider_area .single_slider::before {
  background-image: url('{{setting.image.url}}');
}
</style>
{% endblock %}

{% block content %}

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="shap_pattern d-none d-lg-block">
                <img src="{% static 'img/about/grid.png' %}" alt="">
            </div>
            <div class="social_links">
                <ul>
                    <li><a target="_blank" href="{{setting.facebook}}"> <i class="fa fa-facebook"></i> </a></li>
                    <li><a target="_blank" href="{{setting.twitter}}"> <i class="fa fa-twitter"></i> </a></li>
                    <li><a target="_blank"  href="{{setting.instagram}}"> <i class="fa fa-instagram"></i> </a></li>
                </ul>
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <h3>
                                Hello I am {{setting.name}}
                            </h3>
                            <span>{{setting.specialty}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- service_area  -->
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-65">
                        <span>Service Provided</span>
                        <h3>Build brands campaigns  <br>
                                & digital projects</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for service in services %}
                <div class="col-xl-4 col-md-4">
                    <div class="single_service text-center">
                        <div class="icon">
                            <img src="{{service.image.url}}" width="60" height="60" alt="">
                        </div>
                        <h3>{{service.area}}</h3>
                        <p>{{service.description|safe}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--/ service_area  -->

    <!-- portfolio_area -->
    <div class="portfolio_area portfolio_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title white_text text-center">
                        <span>Portfolios</span>
                        <h3>Some of my awesome <br>
                                stuffs here</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ portfolio_area -->

    <!-- portfolio_image_area  -->
    <div class="portfolio_image_area">
        <div class="container">
            <div class="row">
                {% for portfolio in recent_portfolio %}
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_Portfolio">
                        <div class="portfolio_thumb">
                            <img src="{{portfolio.image.url}}" height="350" alt="">
                        </div>
                        <a href="{{portfolio.image.url}}" class="popup popup-image"></a>
                        <div class="portfolio_hover">
                            <div class="title">
                                    <h3>{{portfolio.title}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
               {% endfor %}
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="more_portfolio text-center">
                        <a class="line_btn" href="{% url 'portfolio' %}">More Portfolio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ portfolio_image_area  -->

    <!-- about_me  -->
    <div class="about_me">
        <div class="about_large_title d-none d-lg-block">
                About
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-md-6">
                    <div class="about_e_details">
                        <h3>About me</h3>
                        <p>{{about.overview}}</p>
                        <div class="download_cv">
                            <a class="boxed-btn3" target="_blank" href="{{about.cv}}">View CV</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="about_img">
                        <div class="color_pattern d-none d-lg-block">
                            <img src="{% static 'img/about/color_grid.png' %}}" alt="">
                        </div>
                        <div class="my_Pic">
                                <img src="{{about.image.url}}" height="450" width="550" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ about_me  -->

    <div class="counter_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3>
                            <span class="counter" >{{about.totalProjects}} </span><span>+</span>
                        </h3>
                        <p>Total Projects</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3>
                            <span class="counter">{{about.ongoingProjects}} </span>
                        </h3>
                        <p>On Going Projects</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3>
                            <span class="counter" >{{about.jobSucces}} </span> <span>%</span>
                        </h3>
                        <p>Job Success</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    {% include 'testimonial.html' with  testmonials=testmonials %}


{% endblock %}

{% block footer_content %}
{% include 'footer.html' with setting=setting %}
{% endblock %}