{% load static %}

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="{% url 'home' %}">
                                    <h3 style="color:#fff;">{{specialSetting.name}} {{specialSetting.surname}}</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="{% url 'home' %}">home</a></li>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'services' %}">Services</a></li>
                                        {% if user.is_authenticated %}
                                        <li><a href="{% url 'blog' %}">blog <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'blog-create' %}">blog create</a></li>
                                                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                                            </ul>
                                        </li>
                                        {% else %}
                                        <li><a href="{% url 'blog' %}">blog </a></li>
                                        {% endif %}
                                        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                    <a href="mailto:{{specialSetting.email}}">Contact Me</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end --