{% load static %}

 <!-- testimonial_area  -->
 <div class="testimonial_area ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    {% for testmonial in testmonials %}
                    <div class="single_carousel">
                            <div class="single_testmonial text-center">
                                    <div class="quote">
                                        <img src="{% static 'img/testmonial/quote.svg' %}" alt="">
                                    </div>
                                    <p>{{testmonial.description|safe}}</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                                <img src="{{testmonial.image.url}}" width="50" height="50" alt="">
                                        </div>
                                        <h3>{{testmonial.fullname}}</h3>
                                        <span>{{testmonial.profession}}</span>
                                    </div>
                                </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /testimonial_area  -->

<div class="discuss_projects">
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="project_text text-center">
                <h3>Let’s discuss for a project</h3>
                <p>I am glad to help you implement your vision.</p>
                <a class="boxed-btn3" href="https://api.whatsapp.com/send?phone=+994{{setting.phone}}" target="_blank"><i class="fa fa-whatsapp"></i> Start Talking</a>
            </div>
        </div>
    </div>
</div>
</div>